@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-seri;
}

header h1{
    display: flex;
    position: relative;
    align-items:center ;
    justify-content: center;
    height: 100px;
    background-color: blue;
}
header section {
    display: flex;
    position: relative;
    align-items:center ;
    justify-content: center;
    background-color: red;
    height: 55px;
}
#city-search{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center ;
    width: 50%;
    height: 100% ;
}
.form{
    position: relative;
    width: 80%;
    height: 100%;
}
#city{
    position: absolute;
    font-weight: 500;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 20px;
    font-size: 20px;
    color: white;
    padding: 0 40px 0 40px;
}
#city::placeholder{
    color: white;
    text-transform: capitalize;
}
#city-search i {
    position: absolute;
    left: 10px;
    font-size: 25px;
    top: 15px;
}
#city-search button {
position: absolute;
right: 0;
width: 50px;
height: 100%;
background: transparent;
border: none;
outline: none;
font-size: 25px;
color: white;
padding: 0 40px 0 5px;
cursor: pointer;

}
